@charset "UTF-8";


html{
  font-size: 62.5%;
}

h1{
  font-size: 36px;
  font-weight: bold;
}


body{
  font-size: 1.6rem;
  font-family: 'Noto Sans JP','Roboto', sans-serif;
  color: #333;
  background: #f5f5f5;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: fadeIn 2s ease 0s 1 normal;
-webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
0% {opacity: 0}
100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
0% {opacity: 0}
100% {opacity: 1}
}




img{
  max-width: 100%;
  height: auto;
}

a{
  color: #333;
  text-decoration: none;
}

li{
  list-style: none;
}

.text-center{
  text-align: center;
}

/*---------------------------------------------
header
 ----------------------------------------------*/



.nav{
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: underline;
}



.title a{
  text-decoration: none;
  color: #333
}


.sub-title{
  color: #777777;
  font-size: 12px;
  text-align: center;
  display: block;
  margin-top: 10px;
}




#nav-parent {
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 999;
}

/*チェックボックス等は非表示に*/
.nav-none {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

.nav-bar{
  position: absolute;
  top: 20px;
  left: 20px;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 200px;/*最大幅（調整してください）*/
  height: 100%;
  background: #f5f5f5;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}


.nav-m{
  position: relative;
  margin: 0 auto;
  top: 20%;
}

.nav-item{
  text-align: center;
  padding-bottom: 20px;
  display: block;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.nav-item a{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}


/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}


.nav-item:after{
  border: solid 1px #dfdfdf;
  display: block;
  content: '';
  width: 100%;;
  margin-top:10px;
}



.nav-sns{
  width: 100%;
  text-align: center;
}

.sns-item{
  padding-left: 20px;
}

.sns-item:first-child{
  padding-left: 0px;
}



.scroll {
  position: absolute;
  bottom: 70px;
  font-weight: bold;

  text-align: center;
}
.scroll span {
  position: absolute;
  padding-top: 20px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}








/* ----------------------------
main
------------------------------ */
.content{
margin-top: 80px;
width: 720px;
margin-left: auto;
margin-right: auto;
}

.content p{
  line-height: 1.7;
}

.content p{
  margin-bottom: 15px;
}

h1{
  text-align: center;
}

h2{
  font-size: 22px;
  font-weight: bold;
}

.profile-img{
  width: 150px;
  height: 150px;
  text-align: center;
  display: block;
  margin: 60px auto 20px;
}

.profile-img>img{
    border-radius: 50%;
}


.yutolog{
  text-decoration: underline;
}


.contact{
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #555;
    border: solid 2px #555;
    border-radius: 3px;
    transition: .4s;
    margin-top: 30px;
}

.contact:hover {
    background: #555;
    color: #fff;
}



.sns-area{
  background: #f1f1f1;
margin: 40px 0;
display: flex;
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */
}


.tw{
  padding: 30px 0;
}

.ig{
  padding: 30px 0;
  margin-left: 50px;
}





/* footer */


.copy-inner{
  text-align: center;
  font-size: 12px;
  margin: 60px 0 20px;
}


/* ----------------- */


@media screen and (max-width: 599px){
  .content{
    width: auto;
    padding: 0 6.25vw;
    margin: auto;
    margin-top: 80px;
}



.sns-area{
  background: #f1f1f1;
margin: 40px 0;
display: block;
}


.tw{
  padding: 30px 6.25vw;
}

.ig{
  display: none;
}


}



.class{
  opacity: ;
}
